ody {
  background-color: #f4f7fb; /* Color de fondo general del sitio */
}

.card-body {
  background-color: #fff; /* Fondo blanco para tarjetas (cards) */
}

#accesorios-destacados {
  max-width: 1200px;
  margin: 0 auto; 
}

footer {
  background-color: black;
  color: white; 
}

i {
  color: white;
  font-size: 3rem;
  margin: 0.5rem; 
}

#banner img {
  margin-bottom: 3rem;
  height: 400px;
  width: 100%; 
}

.formulario {
  background-color: #fff;
  border: 1px black solid; 
}

#nombre-iphone-16 {
  position: absolute;
  top: 8rem;
  left: 45%;
  width: 10%;
}

.titulo {
  font-size: 5rem; 
}

.subtitulo {
  font-size: 2.5rem;
  text-align: center; 
}

cards-container {
  max-width: 1200px; 
}

main {
  font-family: "Roboto", sans-serif; /* Fuente principal del sitio */
}

#titulo-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

#avisos-legales {
  background-color: #fff;
  padding: 1rem;
  margin-top: 3rem; 
}

#avisos-legales p,
#avisos-legales h4 {
  max-width: 1200px;
  margin: 0 auto; 
}

#acordeones {
  max-width: 1200px;
  margin: 0 auto; /
}

/* Responsive: ajustes para pantallas menores a 768px */
@media (max-width: 768px) {
  .titulo {
    font-size: 3rem;
    text-align: center; 
  }
  .subtitulo{
    font-size: 1.5rem;
    text-align: center;
  }
  #nombre-iphone-16 {
    display: none;
  }
  .formulario{
    max-width: 400px;
  }
  #accesorios-destacados{
    max-width: 400px;
  }
}

/* Responsive: ajustes para pantallas mayores a 768px */
@media (min-width: 768px) {
  #redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  #nombre-iphone-16 {
    display: block;
  }
}
