// Colores
$color-fondo: #f4f7fb;
$color-blanco: #fff;
$color-negro: black;
$color-texto: white;

// Tipografías
$fuente-principal: "Roboto", sans-serif;

// Tamaños
$fuente-titulo: 4rem;
$fuente-subtitulo: 2rem;
$fuente-titulo-sm: 3rem;
$fuente-subtitulo-sm: 1.5rem;